@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewData["Title"] = "Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = Model.Movie.Count > 0 ? "popular" : null;
}
<h2 class="@className"></h2>
@if (Model.Movie.Count == 0)
{
    <p> No one has rented this movie before.</p>
}
else
{
    <ul>
        @foreach (var Movie in Model.Movie)
        {
            <li>@Movie.Id @Movie.Name</li>
        }
    </ul>
}

